@charset "UTF-8";
body {
    background: rgb(0,185,255);
    background: linear-gradient(90deg, rgba(0,185,255,1) 0%, rgba(68,167,219,1) 35%, rgba(0,232,255,1) 100%);
}
.login-box {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20vh;
    width: 50%;
}
.register-box {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10vh;
    width: 50%;
}
img {
    max-height: 120px;
    text-align: center;
}
